<p id="notice"><%= notice %></p>

<h1>Listing Routine Controls</h1>

<table>
  <thead>
    <tr>
      <th>Enabled</th>
      <th>Monthly</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @routine_controls.each do |routine_control| %>
      <tr>
        <td><%= routine_control.enabled %></td>
        <td><%= routine_control.monthly %></td>
        <td><%= link_to 'Show', routine_control %></td>
        <td><%= link_to 'Edit', edit_routine_control_path(routine_control) %></td>
        <td><%= link_to 'Destroy', routine_control, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Routine control', new_routine_control_path %>
