<p id="notice"><%= notice %></p>

<h1 align = "center">Listing Robots</h1>

<div class = "container"><center>
<table >
  <thead>
    <tr>
      <td align="center">&nbsp;&nbsp;Status &nbsp;&nbsp;</td>
      <td align="center">&nbsp;&nbsp;Identifier &nbsp;&nbsp;</td>
      <td colspan="5"></td>
    </tr>
  </thead>
  <tr>
  <td colspan="7"> <hr class="intro-divider"> </td>
  </tr>

  <tbody>

    <% @robots.each do |robot| %>
      <tr>
        <td align="center"><%= robot.status %></td>
        <td align="center"><%= robot.identifier %></td>
        <td align="center"><%= link_to 'Show', robot %></td>
        <td align="center">&sdot;</td>
        <td align="center"><%= link_to 'Edit', edit_robot_path(robot) %></td>
        <td align="center">&sdot;</td>
        <td align="center"><%= link_to 'Destroy', robot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>

  </tbody>
</table>

<br>
<hr class="intro-divider">
<%= link_to 'Create a New Robot!', new_robot_path %>
</center>
</div>