<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @robot.status %>
</p>

<p>
  <strong>Identifier:</strong>
  <%= @robot.identifier %>
</p>

<%= link_to 'Edit', edit_robot_path(@robot) %> |
<%= link_to 'Back', robots_path %>
