<p id="notice"><%= notice %></p>

<div class="container">

<div class="row">
  <div class="panel panel-default">
    <div class="panel-body">
    <div class="col-lg-3 col-md-8">
    </div>
      <div class="col-lg-6 col-md-8">
        <div class="panel panel-primary">
            <div class="panel-heading">
              <div class="row">
                <div class="col-xs-1">
                  <i class="fa fa-list-alt fa-2x"></i>
                </div>
                <div class="col-xs-7 text-left">
                  <div class="huge">
                    <font size=4>Show Routine</font>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel-footer">
              <span class="pull-left">

<p>
  <strong>Task:</strong>
  <%= @routine.task.description %>
</p>

<p>
  <strong>Time:</strong>
  <%= @routine.time %>
</p>

<p>
  <strong>Enable:</strong>
  <%= @routine.enable %>
</p>

<p>
  <strong>Monthly:</strong>
  <%= @routine.monthly %>
</p>

<p>
  <strong>Sunday:</strong>
  <%= @routine.sunday %>
</p>

<p>
  <strong>Monday:</strong>
  <%= @routine.monday %>
</p>

<p>
  <strong>Tuesday:</strong>
  <%= @routine.tuesday %>
</p>

<p>
  <strong>Wednesday:</strong>
  <%= @routine.wednesday %>
</p>

<p>
  <strong>Thursday:</strong>
  <%= @routine.thursday %>
</p>

<p>
  <strong>Friday:</strong>
  <%= @routine.friday %>
</p>

<p>
  <strong>Saturday:</strong>
  <%= @routine.saturday %>
</p>

<h2> Robots</h2>
<% @robots.each do |robot| %>
  <strong>Identifier:</strong>
  <%= robot.identifier %> <br>
<% end %>




               <br>
              </span>
              <div class="clearfix">
              </div>
              <div class="panel-footer">
                <span class="pull-left">
                  <i class="fa fa-arrow-left"></i>
                </span>
                <span class="pull-left">
                  &nbsp;&nbsp;
<%= link_to 'Edit', edit_routine_path(@routine) %> |
<%= link_to 'Back', routines_path %>
                </span>
                <div class="clearfix">
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>


    </div>
  </div>
</div>
