<h1 align = "center">Login</h1>

<div class = "container">
<div class="col-md-6 col-sm-offset-3" align="center">
     <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <div class=" inputGroupContainer">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
              <div class="field">
                <div class="field">
                  <% f.label :email, "Email" %>
                  <%= f.email_field :email,class: "form-control", autofocus: true, :placeholder => "E-mail" %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class=" inputGroupContainer">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-eye-close"></i></span>
              <div class="field">
                <div class="field">
                  <% f.label :password, "Password" %>
                  <%= f.password_field :password, autocomplete: "off",class: "form-control", :placeholder => "Password" %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field" align="center">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, "Remember" %>
          </div>
        <% end %>

        <div class="actions" align="center">
          <button type="submit" class="btn btn-primary" >Submit <span class="glyphicon glyphicon-log-in"></span></button>
        </div>
      <% end %>
      <br/>
  <div class="bottom text-center">
      Not registered? <br/>
        <a class="btn btn-warning" href="users/sign_up" >Register <span class="glyphicon glyphicon-send"></span></a>
        <br/>
  </div>
</div>
</div>
